.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
**/*.quarto_ipynb

Personal_note.txt # Personal notes on what to do in this repository.
webshot_code.R #To automatically create thumbnails for presentations